/*  Folha de estilo padrão do site */

body {
	padding: 0;
	margin: 0;
	padding-top: 120px;
    background-color: #fafafa;
}

.header, .footer {
   position: fixed;
   height: 120px;
   background: blue;
   width: 100%;
   color: white;   
}
.header{
  position: fixed;
  top: 0;
}

.header h1 {
   color: white;
}

.container{
	 display: flex;
	 
}
.aside {
	width: 25%;
}
.aside > .menu {
	padding: 15px;
}
.aside > .menu > ul {
  list-style: none;
  margin: 2px;
  padding: 2px;
}
.aside > .menu > ul > li {
  list-style: none;
  padding: 9px;
  border-bottom: 1px solid;
}

.aside > .menu > ul > li:hover {
  cursor: pointer;
  color: red;
}
.main {
    flex: 1;
}
.footer {
   height: 40px;
   bottom: 0;
}
	
ul {
  list-style: none;
  padding-left: 3px;
  text-align: left;
}
nav {
	display: flex;
	margin-top: 0;
	justify-content: flex-end;
	background-color: gray;
	width: 100%;
}
nav > ul {
	display: flex;
	background-color: #4169e1;
	color: white;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-right: 20px;
	list-style: none;
}
nav > ul > li {
	margin-left: 2px;
	border: 1px outset ;
	width: 90px;
	text-align: center;
	cursor: pointer;
}
nav > ul > li:hover {
	color:black;
	text-decoration: underline;
}
nav > ul > li > ul {
	 position: absolute;
	 display: none;
	 width: 120px;
	 background-color: #4169e1;
}
nav > ul > li > ul > li {
  padding: 2px;
  display: block;
  border: 1px solid white;
}
nav > ul > li > ul > li:hover {
  padding: 2px;
  font-weight: bolder;
  color: white;
}

nav > ul > li:hover > ul {
	display: block;
}

h1 {
   color: black;
   text-decoration: undeline;
}
/* estilos para tabela  */
table  thead {
  background-color: blue;
  color: white;
}

table tbody tr:nth-child(even){
	background-color: SteelBlue;
	color: #fafafa;
}
table tbody tr:hover{
	color: red;
	cursor: pointer;
	font-weight: thin;
}

#subtitulo{
           font-size: 1.5rem;
		   color: white;
		   padding: 14px;
		   border: 1px solid white;
}
#subtitulo:hover{
    color: red;
	cursor: pointer;
}
.titulo {
    font-size: 2.5rem;
	color: black;
}
.subtitulo{
    font-size: 1.8rem;
	color: red;
}
/* botões */
.btn {
	width: 90px;
	height: 35px;
	border: 1px solid gray;
	border-radius: 15px;
	padding-top: 15px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 5px;
	text-align: center;
	cursor: pointer;
}

 .btn-primary {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
 .btn-primary {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
  }

  .btn-primary:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
  }
  .btn-primary:active {
	border: 5px  inset;
	text-decoration: underline;
  }   



 .btn-danger {
	   background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)
	 }
 .btn-danger {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
  }

  .btn-danger:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
  }
         
  .btn-danger:active {
	background-image: linear-gradient(to left, #D21197  0%, #EA384D  33%, #D31027 100%);
	background-position: right center; /* change the direction of the change here */
    border: 5px inset;
	text-decoration: none;
  }

 .botoes {
	  display: flex;
 }
	